# virtual environment
venv/
env/
.venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.sublime-project

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# node_modules and build artifacts
node_modules/
dist/
dist-ssr/

# Package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
lerna-debug.log*
